<div class="row">
      <div class="col-md-5">
            <!-- <app-recipe-list (recipeSelected)="onRecipeSelectedEvent($event)"></app-recipe-list> -->
            <!-- <app-recipe-list (recipeSelected)="selectedRecipe = $event"></app-recipe-list> -->
            
            <!-- we only need the clean component and no chain of interactions -->
            <app-recipe-list></app-recipe-list>
      </div>

      <div class="col-md-7">
            <!-- <app-recipe-detail 
                  [recipeToShow]="selectedRecipe" 
                  *ngIf="selectedRecipe; else infoText" ></app-recipe-detail>
            <ng-template #infoText>
                  <p>Please select a recipe</p>
            </ng-template> -->
            <router-outlet></router-outlet>
      </div>

</div>